@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;

    background-image:linear-gradient(rgba(255, 255, 255, 0.858), rgba(255, 204, 122, 0.466)), url('ar1.png');
    background-size: cover;
    background-repeat: no-repeat;           
    background-attachment: fixed;
}

.card {
    font-family: 'PT Serif', serif;

    background-image: linear-gradient(rgba(43, 0, 44, 0.089), rgba(36, 0, 35, 0.626)),url('ar2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card .background-image{
    opacity: 0.4;
}
.header {
    background-color: rgba(4, 83, 10, 0.724);
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticker, .price {
    font-size: 20px;
    font-weight: bold;
}

.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: auto;
    border-radius: 8%;
}

.stock-info {
    padding: 20px;
    color: rgb(252, 252, 252);
    text-align: center;
}

.stock-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.additional-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.buy-info, .risk-info {
    text-align: center;
}

.label {
    font-size: 12px;
    color: #ffffff;
}

.value {
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
