/* theme.css */

body {
    
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
   
}

.theme-container { 
    margin-top: -70px;
    background-color: #8bb9e6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
   
}

.theme-box {
    width: 225px;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;

    transform-style: preserve-3d;
    transition: transform 0.75s ease-in-out;
}

.cyberpunk {
    background-image:url('cb4.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.minimalistic {
    background-image:url('mn.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
   
}

.artistic {
    background-image:url('ar1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
   
}
.space {
    background-image:url('sp1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
}

.theme-box:hover {
    transform: scale(1.2) rotateY(180deg);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
}

/* Define different background images for each theme */
.theme-box.cyberpunk:hover::after {
    
    background-image: url('ss1.png');
    background-size: cover;
    object-fit: fill;
}

.theme-box.minimalistic:hover::after {
    background-image: url('ss2.png');
    background-size: cover;
    object-fit: fill;
}

.theme-box.artistic:hover::after {
    background-image: url('ss3.png');
    background-size: cover;
    object-fit: fill;
}

.theme-box.space:hover::after {
    background-image: url('ss4.png');
    background-size: cover;
    object-fit: fill;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #8bb9e6;
}
section .wave
{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('wave.png');
    background-size: 1000px 120px;
}
section .wave.wave1
{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2
{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3
{
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.25;
    animation-delay: -2s;
    bottom: 15px;
}
section .wave.wave4
{
    animation: animate2 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -1s;
    bottom: 20px;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x:1000px;
    }
}